<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    {% include header.html %}
    <!-- Place anything custom after this. -->
  </head>
  <body>
    <a class="sr-only" href="#content">Skip navigation</a>

    <!-- Docs master nav -->
    {% include nav-main.html %}

    <!-- Docs page layout -->
    <div class="bs-header" id="content">
      <div class="container">
        <h1>{{ page.title }}</h1>
      </div>
    </div>

    <div class="container bs-docs-container">
      <div class="row">
        <main class="col-md-12" role="main">
          {{ content }}
        </main>
      </div>

    </div>

    <!-- Footer
    ================================================== -->
    {% include footer.html %}

  </body>
</html>

